<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
>
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="top">
                <h:panelGrid columns="2" >
                    <h:outputText value="Add project"/>
                    <h:form>     
                        <h:commandButton value="Logout" action="#{userBean.logout}" immediate="true"  />
                    </h:form>
                </h:panelGrid>
            </ui:define>
            <ui:define name="content"> 
                <h:form>
                    <p:outputLabel value="Name" />
                    <p:inputText value="#{addBean.project.name}" />
                    
                    <p:outputLabel value="Number of students" />
                    <p:inputText value="#{addBean.project.capacity}" />
                    <p:commandButton value="Ok" action="#{addBean.addProject}" />
                </h:form>
            </ui:define>

        </ui:composition>
    </h:body>
</html>