<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="top">
                <h:panelGrid columns="2" >
                    <h:form>     
                        <h:commandButton value="Logout" action="#{userBean.logout}" immediate="true"  />
                    </h:form>
                </h:panelGrid>
            </ui:define>
            <ui:define name="content"> 
               You successfully applied to this project.
            </ui:define>

        </ui:composition>
    </h:body>
</html>
