<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
    <h:body>
        <ui:composition template="./template.xhtml">
            <ui:define name="top">   
                <h:outputText value="Please login"/>
            </ui:define>
            
            <ui:define name="content">
                <p:panelGrid columns="1" style="margin:0 auto">
                <p:commandButton value="Login as student" />
                <p:commandButton value="Login as teacher" />
                </p:panelGrid>
            </ui:define>
        </ui:composition>
    </h:body>
</html>
