<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core">
    <h:body>
        <ui:composition template="template.xhtml" >
            <ui:define name="top">Welcome, Please Login</ui:define>
            <ui:define name="content">
                <h:form>
                    <h:panelGrid columns="2" style="margin:0 auto">
        
                        <h:outputText value="Username"/>
                        <h:inputText value="#{userBean.username}" />
                        
                        <h:outputText value="Password" />
                        <h:inputSecret  value="#{userBean.password}" />
                        
                        <p:selectOneRadio value="#{userBean.type}" >
                            <f:selectItem  itemLabel="Student" itemValue="Student" />
                            <f:selectItem  itemLabel="Teacher" itemValue="Teacher" />
                        </p:selectOneRadio>

                        <p:selectOneRadio value="#{userBean.db}" >
                            <f:selectItem  itemLabel="JDBC" itemValue="jdbc" />
                            <f:selectItem  itemLabel="JPA" itemValue="jpa" />
                        </p:selectOneRadio>
                        <h:commandButton action="#{userBean.login}" value="Login" />
                    </h:panelGrid>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>