<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:tp="http://java.sun.com/jsf/composite/mycomp/">
    <h:body>
          <ui:composition template="template.xhtml" >
            <ui:define name="top">Welcome, Please Login</ui:define>
            <ui:define name="content">
                <h:form> 
                <tp:login_c 
                    usernameLabel="Username"
                    passwordLabel="Password"
                    usernameValue="#{userBean.username}"
                    passwordValue="#{userBean.password}"
                    typeValue="#{userBean.type}"
                    loginButtonLabel="Login"
                    loginButtonAction="#{userBean.login}" />
                </h:form>  
            </ui:define>
          </ui:composition>
    </h:body>
</html>