<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:c="http://java.sun.com/jsp/jstl/core">
<h:body>
    <ui:composition template="./template.xhtml">
        <ui:define name="top">
            <h:panelGrid columns="2" >
                <h:outputText value="Welcome, #{userBean.username}"/>
                <h:form>
                    <h:commandButton value="Logout" action="#{userBean.logout}" immediate="true"  />
                </h:form>
            </h:panelGrid>
        </ui:define>
        <ui:define name="content">
            <p:dataTable var="data" value="#{seeFullProjectsBean.projects}" binding="#{seeFullProjectsBean.dataTable}"
                         rowStyleClass="#{data.full ? 'redClass' :'default'}">

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Name" />
                    </f:facet>
                    <h:outputText value="#{data.name}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Capacity" />
                    </f:facet>
                    <h:outputText value="#{data.capacity}" />
                </p:column>

                <p:column>
                    <f:facet name="header">
                        <h:outputText value="Teacher" />
                    </f:facet>
                    <h:outputText value="#{data.teacher.name}" />
                </p:column>


            </p:dataTable>
        </ui:define>

    </ui:composition>
</h:body>
</html>